@model FanLi.Web.Areas.admin.Models.VideoAddViewModel
@using FanLi.Models
@{
    ViewBag.Title = "add";
}

<section>

    <div class="rightTab">
        <ul>
            <li><a href="/admin/Video/">视频列表</a></li>
            <li class="current"><a href="/admin/Video/add">添加视频</a></li> 
        </ul>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <ul class="ulColumn2">
                <li>
                    @Html.LabelFor(model => model.Title, new { @class = "item_name" })：
                    <input type="text" id="Title" name="Title" class="textbox textbox_295" placeholder="请输入视频标题" />
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "errorTips" })

                </li>
                <li>
                    @Html.LabelFor(model => model.Src, new { @class = "item_name" })：
                    <input type="text" id="Src" name="Src" class="textbox textbox_295" placeholder="请输入视频地址" />
                    @Html.ValidationMessageFor(model => model.Src, "", new { @class = "errorTips" })
                </li>
                <li>
                    @Html.LabelFor(model => model.Img, new { @class = "item_name" })：
                    <input type="text" id="Img" name="Img" class="textbox textbox_295" />
                    @Html.ValidationMessageFor(model => model.Img, "", new { @class = "error" })

                </li>
                <li>
                    <span class="item_name" style="width: 120px;"></span>
                    <input type="submit" value="提交" class="btn btn-default" />
                </li>
            </ul>
        }
    </div> 
</section> 