@model FanLi.Web.Areas.admin.Models.VideoZanListViewModel
@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "list";
}
<section>
    <div class="rightTab">
        <ul>
            <li class="current"><a href="/admin/Video/">视频列表</a></li>
            <li><a href="/admin/Video/add">添加视频</a></li>
        </ul>
    </div>
    <div class="page_title">
        <h2 class="fl"></h2>
        <a class="fr top_rt_btn" href="javascript:history.go(-1);">返回</a> 
    </div>
    <div class="rightList">
        <ul>
            @foreach (var info in Model.Infos)
            {
                <li>
                     <img src="@info.Users.HeadPhoto" />
                     <span>@info.CreateTime</span>
                </li>
            }
        </ul>
    </div>
    <aside class="paging">
        @Html.Pager(Model.Infos, new PagerOptions
   {
       PageIndexParameterName = "page",
       FirstPageText = "首页",
       PrevPageText = "上一页",
       NextPageText = "下一页",
       LastPageText = "末页",
       ContainerTagName = "span",
       AutoHide = true,
       MaximumPageIndexItems = 6,
       ShowNumericPagerItems = true,
   })
        @Html.Raw("共：") @Model.Infos.TotalItemCount @Html.Raw("条，")
        @Model.Infos.CurrentPageIndex @Html.Raw("/") @Model.Infos.TotalPageCount @Html.Raw("页")
    </aside>
</section>