@model FanLi.Web.Areas.admin.Models.MallTypeAddViewModel
@using FanLi.Models
@{
    ViewBag.Title = "addType";
}

<section>

    <div class="rightTab">
        <ul>
            <li><a href="/admin/Malls/">商城列表</a></li>
            <li><a href="/admin/Malls/add">添加商城</a></li>
            <li class="current"><a href="/admin/Malls/addType">添加商城分类</a></li>
            <li><a href="/admin/Malls/listType">分类列表</a></li>
        </ul>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <ul class="ulColumn2">
                <li>
                    @Html.LabelFor(model => model.Name, new { @class = "item_name" })：

                    @Html.TextBoxFor(model => model.Name, new { @class = "textbox textbox_225" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "errorTips" })

                </li> 
                <li>
                    <span class="item_name" style="width: 120px;"></span>
                    <input type="submit" value="提交" class="btn btn-default" />
                </li>
            </ul>
                            }
    </div>
    
</section> 