@model FanLi.Web.Areas.admin.Models.MallsViewListModel
@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "list";
}

<section>
    <div class="rightTab">
        <ul>
            <li class="current"><a href="/admin/Malls/">商城列表</a></li>
            <li><a href="/admin/Malls/add">添加商城</a></li>
            <li><a href="/admin/Malls/addType">添加商城分类</a></li>
            <li><a href="/admin/Malls/listType">分类列表</a></li>
        </ul>
    </div>
    <div class="page_title"></div>
    <table class="table">
        <tr>
            <th>名称</th>
            <th>图标</th>
            <th>所属类型</th>
            <th>英文名称</th>
            <th>最高折扣</th>
            <th>评分</th>
            <th>操作</th>
        </tr>
        @foreach (var info in Model.Infos)
        {
            <tr>
                <td>@info.Name</td>
                <td><img src="@info.Logo" style="max-height:30px" /></td>
                <td>@Html.DisplayFor(model => info.MallType.Name)</td> 
                <th>@Html.DisplayFor(model => info.EnName)</th>
                <th>@Html.DisplayFor(model => info.MaxDisc)</th>
                <th>@Html.DisplayFor(model => info.Score)</th>
                <td><a href="">修改</a></td>
            </tr>
        }
    </table>
    <aside class="paging">
        @Html.Pager(Model.Infos, new PagerOptions
   {
       PageIndexParameterName = "page",
       FirstPageText = "首页",
       PrevPageText = "上一页",
       NextPageText = "下一页",
       LastPageText = "末页",
       ContainerTagName = "span",
       AutoHide = true,
       MaximumPageIndexItems = 6,
       ShowNumericPagerItems = true,
   })
        @Html.Raw("共：") @Model.Infos.TotalItemCount @Html.Raw("条，")
        @Model.Infos.CurrentPageIndex @Html.Raw("/") @Model.Infos.TotalPageCount @Html.Raw("页")
    </aside>
</section>

